extends layout

block content

      // Intro
      section#acceuil.wrapper.style1.fullscreen.fade-up
        .inner
          h1 FaceCast
          p
            | La nouvelle plateforme te permettant  
            br
            | de postuler aux offres de FaceCast 
            | .
          ul.actions
            li
              a.button.scrolly(href='#offres') Voir les offres
      // One
      section#offres.wrapper.style2.spotlights
        section
          a.image(href='#')
            img(src='images/pic01.jpg' alt='' data-position='center center')
          .content
            .inner
              h2 Sed ipsum dolor
              p
                | Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.
              ul.actions
                li
                  if (code == '') 
                    a.button(href='/connexion') Postuler
                  else 
                    a.button(href='/connexion') Postuler
        section
          a.image(href='#')
            img(src='images/pic02.jpg' alt='' data-position='top center')
          .content
            .inner
              h2 Feugiat consequat
              p
                | Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.
              ul.actions
                li
                  a.button(href='generic.html') Learn more
        section
          a.image(href='#')
            img(src='images/pic03.jpg' alt='' data-position='25% 25%')
          .content
            .inner
              h2 Ultricies aliquam
              p
                | Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.
              ul.actions
                li
                  a.button(href='generic.html') Learn more
      // Two
      section#candidatures.wrapper.style3.fade-up
        .inner
          h2 Tes candidatures
          p
            | Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.
          .features
            section
              span.icon.solid.major.fa-code
              h3 Lorem ipsum amet
              p
                | Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
            section
              span.icon.solid.major.fa-lock
              h3 Aliquam sed nullam
              p
                | Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
            section
              span.icon.solid.major.fa-cog
              h3 Sed erat ullam corper
              p
                | Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
            section
              span.icon.solid.major.fa-desktop
              h3 Veroeros quis lorem
              p
                | Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
            section
              span.icon.solid.major.fa-link
              h3 Urna quis bibendum
              p
                | Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
            section
              span.icon.major.fa-gem
              h3 Aliquam urna dapibus
              p
                | Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
          ul.actions
            li
              a.button(href='generic.html') Learn more

      
      // Three
      if (code == '')
        section#connexion.wrapper.style2.spotlights
          .inner
              h1 Connexion
              form(action='/connexion' method='post')
                div.field
                  label.label Votre code d'identification
                  div.control
                    input(class='input' type='text' name='code' placeholder='Entrez votre code')
                    p(class='help is-danger')= message
                div(class='field is-grouped')
                  div.control
                    input(type='submit' value='S\'enregistrer' class='button is-link')
      else 
        section#deconnexion.wrapper.style2.spotlights
          .inner
            a.button(href='/deconnexion') Déconnexion
      // Footer
      footer#footer.wrapper.style1-alt
        .inner
          ul.menu
            li © Untitled. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP