doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    nav(class='navbar is-transparent')
      div.navbar-brand
        span(style='font-weight:bold; font-size:x-large') &nbsp;FaceCact

      if (code != '') 
        div.navbar-item
          p= code
        div.navbar-item
          a(class="navbar-item" href="/deconnexion") Déconnexion 
  hr
  block content
