extends layout

block content
  form(action='/identification' method='post')
        div.field
          label.label Votre code d'identification
          div.control
            input(class='input' type='text' name='code' placeholder='Entrez votre code')
            p(class='help is-danger')= message
        div(class='field is-grouped')
          div.control
            input(type='submit' value='S\'enregistrer' class='button is-link')
